{% extends "login_home.html" %}
    {% block title %}
        <title>Doubts</title>
    {% endblock %}
    
    {% block content %}
        {% if subject==None %}
        {% for course in courses %}
            <center>
            <ul class="list-group">
                <a href='{{ url_for( "doubts",doubt_id = None , subject = course[0]) }}' class="list-group-item list-group-item-action">{{ course[0] }}</a>
            </ul>
            </center>    
        {% endfor %}
        {% endif %}        
        {% if subject  != None and doubt_id == None %}
            {% for doubt in doubts%}
        </br>
            <center>
                <div class="card">
                    <div class="card-body">
                      <p class="card-text">{{doubt[1]}}</p>
                      <a href="{{ url_for('doubts',doubt_id = doubt[0], subject = subject) }}" class="btn btn-primary">Discuss this doubt</a>
                    </div>
                  </div>
                </center>
            </br>
            {% endfor %}
            {% if account_type=='student' %}
                <form action='#' method='POST'>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Post Your Doubt</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name='doubt' rows="3"></textarea>
                  </div>
                <button  class="btn btn-primary" type="submit">Submit</button>
                </form>  
            {% endif %}         
        {% endif %}

        {% if subject  != None and doubt_id != None %}

                
        <center>
            <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                  <p class="card-text"> {{cur_doubt[0]}}</p>
                </div>
              </div>
              {% if account_type=='student' %}
                {% if upvote_status ==True%}
                <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Upvoted</a>
                {% endif %}
                {% if upvote_status == False %}
                <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for( 'upvote_doubt' , subject=subject,doubt_id=doubt_id ) }}';">Upvote Doubt</button>
                {% endif %}

              {% endif %}
            </center>
            {% for i in range(comments|length)%}
            <div class="card border-info mb-3" >

                <div class="card-body text-info">
                  <p class="card-text">{{comments[i][0]}}</p>
                {% if account_type=='student' %}  
                  {% if comments_liked[i] == 0 %} 
                    <button onclick="window.location.href='{{ url_for( 'like_comment' , subject=subject,doubt_id=doubt_id ,reply_id=comments[i][1]) }}';" type="button" class="btn btn-info">Like</button>
                    </div>
                  {% endif %}
                  {% if comments_liked[i] == 1 %}
                  <button  type="button" class="btn btn-info" aria-disabled="true">Liked</button>
                  </div>
                  {% endif %}
                {% endif %}  
            {% endfor %}
            
            {% if account_type=='student' %}
                <form action='#' method='POST'>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Reply</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name='reply' rows="3"></textarea>
                  </div>
                <button  class="btn btn-primary" type="submit">Submit</button>
                </form>  
            {% endif %}    

        {% endif %}        


    {% endblock %}    


