<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
        <!-- Image and text -->
        <nav class="navbar">
          <a class="navbar-brand" href="/user">
          <img src="{{ url_for('static',filename='images/icon.svg') }}" class="d-inline-block align-top" alt="" loading="lazy">
          Student Forum
          </a>
      </nav>
    <br>
    <!-- <div class="card">
        <div class="card-body">
         <strong>Doge friend</strong> is here to take care of you , just feed doge your emotions and tasks or anything you want and some treats of course *HUIHUIHUI*.
          <br>If you have a doge friend , call your doge friend by signing in or else sign up to get your doge friend.<br>
          <strong>Some secrets about doge friends</strong> : doge friend tells you more secrets about itself the more you talk to doge *can't stop laughing*
        </div>
      </div> -->
      <br><br><br>
      <center>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button onclick="location.href='{{ url_for( 'login_page') }}'" id="loginbutton" type="button" class="btn btn-secondary">Login</button>
       <button onclick="location.href='{{ url_for( 'signup_page',account='student') }}'" id="signupbutton" type="button" class="btn btn-secondary">Sign Up</button>
      </div>
      </center>



     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>     
</body>
</html>
