<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>{{user}}</title>

</head>
<body>
    <nav class="navbar">
      <a class="navbar-brand" href="/">
      <img src="{{ url_for('static',filename='images/icon.svg') }}" class="d-inline-block align-top" alt="" loading="lazy">
      {{user}}
      </a>
      <a href='{{url_for("doubts")}}' >
        Discussion
      </a>
      <a href='{{url_for("resources")}}' >
        Resources
      </a>
      <a href='{{url_for("logout")}}' >
        LogOut
      </a>
    </nav>
      {% if account_type=='teacher' and 'user' in request.url_rule.rule %}

      


        <center>
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Generate Student Report</h5>

            </div>
            <form id="login_form" action='#' method="POST">

            <center>
            <label for="Branch">Choose Branch</label>
            <select name="branch" id="branch-selection">
            <option value="C.S.E">C.S.E</option>
            <option value="I.T">I.T</option>
            <option value="E.C">E.C</option>
            <option value="Mech">Mech</option>
            </select> </br>
            <label for="Sem">Choose Sem</label>
            <select name="sem" id="sem-selection">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
            </center>
              <center>
              <a onclick="document.getElementById('login_form').submit();" class="submit">Generate</a>
              </center>
              <!--<p class="forgot" align="center"><a href="#">Forgot Password?</p>-->
            </form> 
      </center>


        
      {% endif %}

  
  {% block content %}
  {% endblock %}
</body>
</html>
